<div class="animated fadeIn">
  <div class="col-md-10 top-20">
    <h3>{{title}}</h3>

    <form #loginForm="ngForm"
          (ngSubmit)="onSubmit()"
          class="col-md-7 no-padding"
          >

          <p>
            <label>Email:</label>
            <input
                    type="email"
                    class="form-control"
                    name="email"
                    #email='ngModel'
                    [(ngModel)]="user.email"
                    required>
            <span *ngIf="!email.valid && email.touched">El email no es válido</span>
          </p>
          <p>
            <label>Contraseña:</label>
            <input
                    type="password"
                    class="form-control"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="user.password"
                    required>
            <span *ngIf="!password.valid && password.touched">La contraseña no es válida</span>
          </p>

          <input
                    type="submit"
                    class="btn btn-outline-primary"
                    value="Entrar"
                    [disabled]="!loginForm.form.valid">

    </form>

  </div>
</div>
