<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">Menú Principal</li>
  <li class="treeview" routerLinkActive = "active">
    <a [routerLink]="['/home']">
      <i class="fa fa-pie-chart" aria-hidden="true"></i> <span>Tablero de Inicio</span>
    </a>
  </li>
  <li class="treeview" routerLinkActive = "active menu-open">
    <a [routerLink]="['/consulta-ruc']">
      <i class="ion-search"></i> <span>Consultas</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li routerLinkActive = "active"><a [routerLink]="['/consulta-ruc']"><i class="fa fa-circle-o"></i> Datos Contribuyente</a></li>
      <li routerLinkActive = "active"><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
    </ul>
  </li>
  <li class="treeview" routerLinkActive = "active">
    <a [routerLink]="['/seleccionar-cliente']">
      <i class="fa fa-th-list" aria-hidden="true"></i> <span>Seleccionar Cliente</span>
    </a>
  </li>
  <li class="treeview" routerLinkActive = "active">
    <a [routerLink]="['/factura']">
      <i class="ion-document-text"></i> <span>Facturas</span>
    </a>
  </li>

  <jqxNavigationBar #navigationBarReference
                    class="treeview"

                    [expandMode]="'toggle'">
    <div>
      Early History of the Internet
    </div>
    <div>
      <ul>
        <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Hola</a></li>
        <li>1982 TCP/IP protocol suite formalized</li>
        <li>1982 Simple Mail Transfer Protocol (SMTP)</li>
        <li>1983 Domain Name System (DNS)</li>
      </ul>
    </div>
    <div>
      Merging the networks and creating the Internet
    </div>
    <div>
      <ul>
        <li>1981 Computer Science Network (CSNET)</li>
        <li>1982 TCP/IP protocol suite formalized</li>
        <li>1982 Simple Mail Transfer Protocol (SMTP)</li>
        <li>1983 Domain Name System (DNS)</li>
      </ul>
    </div>
  </jqxNavigationBar>

</ul>
