<!-- Content Header (Page header) -->
<section class="content-header animated fadeIn">
  <h1>
    Consultar Datos de Personas
  </h1>
</section>


<!-- Main content -->
<section class="content animated fadeIn">

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-8">
      <!-- Formulario Carga Datos -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Ingresar Datos</h3>


        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="pad">

                <form (ngSubmit)="buscarContribuyente(forma)" #forma="ngForm" novalidate="">
                  <div class="form-group row">
                    <label class="col-2 col-form-label">RUC</label>
                    <div class="col-8">

                      <input class="form-control"
                      type="text"
                      name="ruc"
                      [(ngModel)]="consulta.rucbus"
                      (blur)="getDV()"
                      placeholder="RUC"
                      required>
                      <!-- <div *ngIf="apellido.errors?.required">Este campo es requerido</div> -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-2 col-form-label">DV</label>
                    <div class="col-8">

                      <input class="form-control"
                      type="text"
                      name="dv"
                      [(ngModel)]="consulta.dvbus"
                      placeholder="DV"
                      required>
                      <!-- <div *ngIf="apellido.errors?.required">Este campo es requerido</div> -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                      <button [disabled]="!forma.valid"
                      type="submit"
                      class="btn btn-outline-success">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      Buscar
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Formulario Carga Datos -->
    <div class="box box-info" *ngIf="datos">
      <div class="box-header with-border">
        <h3 class="box-title">{{datos.razonSocial}}</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding bg-light-blue-gradient">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <div class="pad">

              <p class="card-text"><strong>RUC: </strong> {{datos.ruc}}</p>
              <p class="card-text"><strong>DV: </strong> {{datos.dv}}</p>
              <p class="card-text"><strong>Estado: </strong> {{datos.estado}}</p>
              <p class="card-text"><strong>Categoría: </strong> {{datos.categoria}}</p>
              <p class="card-text"><strong>Tipo: </strong> {{datos.tipoPersona}}</p>
              <p class="card-text" *ngIf="datos.tipoSociedad"><strong>Sociedad: </strong> {{datos.tipoSociedad}}</p>

            </div>
          </div>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->

  <div class="col-md-4">


  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
</section>
