<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a [routerLink]="['/home']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>E</b>C</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>EstuCont&copy;</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->

  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <app-menu-principal></app-menu-principal>

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.simons.com.py">Simons Estudio Contable</a>.</strong> All rights
    reserved.
  </footer>

</div>
<!-- /.content-wrapper -->





<div class="control-sidebar-bg"></div>
