<div class="animated fadeIn">

  <!-- Content Header (Page header) -->
  <form (ngSubmit)="nuevaFactura()" #forma="ngForm" novalidate="">
  <section class="content-header">
    <h1>Nueva Factura</h1>
  </section>


  <!-- Main content -->
  <section class="content animated fadeIn">

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        <!-- Formulario Carga Datos -->

          <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Ingresar Datos</h3>

            <div class="col-md-4 mb-2 px-1 pull-right">
              <div class="row d-flex align-items-center">
                <div class="col-md-4 mb-0 text-right">
                  <span class="align-baseline">Nº Factura</span>
                </div>
                <div class="col-md-8 input-group">
                  <input  type="text"
                  class="form-control w-25 text-center"
                  placeholder="Suc"
                  name="nsuc"
                  [(ngModel)]="factura.nsuc"
                  >
                  <input  type="text"
                  class="form-control w-25 text-center"
                  placeholder="PE"
                  name="npe"
                  [(ngModel)]="factura.npe"
                  >
                  <input  type="text"
                  class="form-control w-50 text-center"
                  placeholder="Factura"
                  name="ncomp"
                  [(ngModel)]="factura.ncomp"
                  >
                </div>
              </div>
            </div>

          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12 col-sm-8">
                <div class="pad">

                    <div class="form-row">

                      <div class="col-md-2 mb-2">
                        <!-- <label class="mb-0">Fecha</label> -->
                        <mat-form-field class="w-100">
                          <input matInput
                                [matDatepicker]="picker"
                                class=""
                                placeholder="Fecha"
                                name="fecha"
                                [(ngModel)]="factura.fecha"
                                (blur)="mostrarFecha()"
                                >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                      </div>

                      <div class="col-md-2 mb-2">
                        <!-- <label class="mb-0">Timbrado</label> -->
                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
                            <input  type="text"
                              matInput
                              class=""
                              placeholder="Timbrado"
                              name="timbrado"
                              [(ngModel)]="factura.timbrado"
                            >
                        </mat-form-field>

                        <!-- <jqxBarGauge
                        	 [width]="600" [height]="600" [colorScheme]="'scheme02'"
                        	 [max]="150" [values]="values">
                        </jqxBarGauge> -->

                      </div>
                      <div class="col-md-2 mb-2">
                        <!-- <label class="mb-0">Condición</label> -->
                        <mat-form-field class="w-100">
                          <mat-select
                            placeholder="Condición"
                            name="condicion"
                            [(ngModel)]="factura.condicion"
                            >
                            <mat-option *ngFor="let condicion of condiciones" [value]="condicion.value">
                              {{ condicion.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div>
                      <div class="col-md-1 mb-2" *ngIf="factura.condicion=='plazo'">
                        <!-- <label class="mb-0">Cuotas</label> -->
                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
                            <input  type="number"
                              matInput
                              class=""
                              placeholder="Cuotas"
                              name="cuotas"
                              [(ngModel)]="factura.cuotas"
                            >
                        </mat-form-field>

                      </div>
                      <div class="col-md-2 mb-2">
                        <mat-form-field class="w-100">
                          <mat-select
                            placeholder="Moneda"
                            name="moneda"
                            [(ngModel)]="factura.moneda"
                            >
                            <mat-option *ngFor="let moneda of monedas" [value]="moneda.value">
                              {{ moneda.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="form-row">

                      <div class="col-md-2 mb-3">
                        <div class="form-row">
                          <div class="col-md-8 pr-2">
                            <mat-form-field class="w-100">
                              <input  type="text"
                                matInput
                                class=""
                                placeholder="RUC"
                                name="ruc"
                                [(ngModel)]="factura.ruc"
                              >
                            </mat-form-field>
                          </div>

                          <div class="col-md-4 pr-1">
                            <mat-form-field class="w-100">
                              <input  type="text"
                                matInput
                                class=""
                                placeholder="DV"
                                name="dv"
                                [(ngModel)]="factura.dv"
                              >
                            </mat-form-field>
                          </div>
                        </div>



                      </div>

                      <div class="col-md-5 mb-3">
                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
                            <input  type="text"
                              matInput
                              class=""
                              placeholder="Cliente"
                              name="cliente"
                              [(ngModel)]="factura.cliente"
                            >
                        </mat-form-field>
                      </div>
                      <div class="col-md-5 mb-3">
                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
                            <input  type="text"
                              matInput
                              class=""
                              placeholder="Dirección"
                              name="direccion"
                              [(ngModel)]="factura.direccion"
                            >
                        </mat-form-field>
                      </div>

                    </div>

                    <div class="form-row">

                      <div class="col-md-2 mb-2 px-1">
                        <label class="mb-0">Descuento</label>
                            <!-- <input matInput placeholder="Favorite food" value="Sushi"> -->
                        <input
                        class="form-control form-control-sm numerico text-right"
                        id="descuento"
                        name="descuento"
                        [(ngModel)]="factura.descuento"
                        >
                      </div>


                    </div>

                </div>
              </div>

            </div>
            <!-- /.row -->
            <hr>

            <!-- Botones -->
            <div class="row">
              <div class="col-md-12">
                <button
                type="button"
                [routerLink]="['/factura/lista']"
                class="btn btn-success">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  Volver
                </button>

                <button [disabled]="!forma.valid"
                  type="submit"
                  class="btn btn-primary pull-right">
                  <i class="fa fa-save" aria-hidden="true"></i>
                  Guardar
                </button>
              </div>
            </div>
            <!-- / botones -->

          </div>
          <!-- /.box-body -->
        </div>



    </div>
    <!-- /.col -->

    <div class="col-md-4">


    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  </section>
</form>
<!-- /Formulario -->
</div>
