.main-container{
  margin-top: 40px;
}

.top-20{
  margin-top: 20px;
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.no-padding{
  padding-left: 0;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table th{
  background-color: rgb(216, 225, 232);
}

table .subtotal{
  background-color:#ccc;
  font-weight: bold;
}
table .total{
  background-color:rgb(83, 128, 204);
  color: #fff;
  font-weight: bold;
}
